<div align="center"><h1> 第3章&nbsp;&nbsp;数据读取和保存</h1></div>

# 一、说明

- 描述：本章源代码
- 作者：方伟（FangWei）
- 程序开发环境：Windows DEV Channel , Build 22533.1001 64位
- Python版本：64位 3.10.1

# 二、程序

## 3.1 目录操作

In [1]:
import os
import shutil

### 3.1.1 获取目录信息

1. 获取当前目录

In [2]:
os.getcwd()

'D:\\[书籍]python数据分析\\3_附件\\chapter3'

2. 获取上级目录

In [3]:
os.path.dirname(os.getcwd())

'D:\\[书籍]python数据分析\\3_附件'

3. 改变工作目录

In [4]:
# 改变工作目录
os.chdir(r'D:\[书籍]python数据分析\3_附件\chapter3')
os.chdir('D:\\[书籍]python数据分析\\3_附件\\chapter4')
os.chdir('D:/[书籍]python数据分析/3_附件/chapter4')

In [5]:
# 删除当前工作目录
os.getcwd()

'D:\\[书籍]python数据分析\\3_附件\\chapter4'

> 注意windows路径的表示方法

### 3.1.2 目录的基本操作

In [6]:
# 切换回本章目录
os.chdir(r'D:\[书籍]python数据分析\3_附件\chapter3')

1. 创建目录

In [7]:
# 使用os.mkdir创建单层目录
os.mkdir('single_path')

In [8]:
# 使用os.makedirs创建任意层级目录
os.makedirs('single_path',exist_ok=True)
os.makedirs('path_level_1/path_level_2')

2. 删除目录

In [9]:
# 使用os.rmdir删除单层目录
os.rmdir('single_path')

In [10]:
# 使用os.removedirs删除任意层级目录
os.mkdir('single_path2')
os.removedirs('single_path2')
os.removedirs('path_level_1/path_level_2')

> 注意：os.rmdir和os.removedirs要求被删除的目录需要为空目录，不能含有任何文件。

In [11]:
# 使用shutil.rmtree删除任意层级目录及其文件
os.mkdir('single_path3')
shutil.rmtree('single_path3')

3. 重命名目录

In [12]:
os.mkdir('folder')
os.rename('folder','folder_rename')

4. 复制目录

In [13]:
shutil.copytree('folder_rename','folder_copy')

'folder_copy'

> 递归复制整个 src 文件夹。 目标文件夹名为 dst，不能已经存在；方法会自动创建 dst 根文件夹。

5. 移动目录

In [14]:
shutil.move('folder_copy','folder_move')

'folder_move'

### 3.1.3 路径与目录的组合与拆分

1. 组合目录为新路径

In [15]:
os.path.join(os.getcwd(),'new_folder')

'D:\\[书籍]python数据分析\\3_附件\\chapter3\\new_folder'

2. 从路径中分离目录/文件

In [16]:
# 拆分目录
os.path.split(os.getcwd())

('D:\\[书籍]python数据分析\\3_附件', 'chapter3')

In [17]:
# 拆分文件
os.path.split('D:\\[书籍]python数据分析\\3_附件\\chapter3\\data.csv')

('D:\\[书籍]python数据分析\\3_附件\\chapter3', 'data.csv')

### 3.1.4 目录的判断

1. 判断是否为目录

In [18]:
os.path.isdir(os.getcwd())

True

In [19]:
os.path.isdir(os.path.join(os.getcwd(),'data.csv'))

False

2. 判断目录是否存在

In [20]:
os.path.exists(os.getcwd())

True

In [21]:
os.path.exists('test_dir')

False

### 3.1.5 遍历目录

1. 使用os.listdir获取文件列表

In [22]:
for file in os.listdir(os.getcwd()):
    print(file)

.ipynb_checkpoints
code.ipynb
data.csv
demo.xlsx
folder_move
folder_rename
geo.json
geo.xml
numpy_data.txt
omov.sas7bdat
output.xlsx
pickle.pkl
raw_data
R_data.Rdata
ships.sav
sklearn_pickle.gz
stata.dta
table_data.txt

2. 使用os.walk遍历目录

In [23]:
for i in os.walk(os.getcwd()):
    print(i)

('D:\\[书籍]python数据分析\\3_附件\\chapter3', ['.ipynb_checkpoints', 'folder_move', 'folder_rename'], ['code.ipynb', 'data.csv', 'demo.xlsx', 'geo.json', 'geo.xml', 'numpy_data.txt', 'omov.sas7bdat', 'output.xlsx', 'pickle.pkl', 'raw_data', 'R_data.Rdata', 'ships.sav', 'sklearn_pickle.gz', 'stata.dta', 'table_data.txt'])
('D:\\[书籍]python数据分析\\3_附件\\chapter3\\.ipynb_checkpoints', [], ['chapter2_code-checkpoint.ipynb', 'code-checkpoint.ipynb'])
('D:\\[书籍]python数据分析\\3_附件\\chapter3\\folder_move', [], [])
('D:\\[书籍]python数据分析\\3_附件\\chapter3\\folder_rename', [], [])

In [24]:
for dirpath,dirnames,filenames in os.walk(os.getcwd()):
    for file in filenames:
        fullpath=os.path.join(dirpath,file)
        print(fullpath)

D:\[书籍]python数据分析\3_附件\chapter3\code.ipynb
D:\[书籍]python数据分析\3_附件\chapter3\data.csv
D:\[书籍]python数据分析\3_附件\chapter3\demo.xlsx
D:\[书籍]python数据分析\3_附件\chapter3\geo.json
D:\[书籍]python数据分析\3_附件\chapter3\geo.xml
D:\[书籍]python数据分析\3_附件\chapter3\numpy_data.txt
D:\[书籍]python数据分析\3_附件\chapter3\omov.sas7bdat
D:\[书籍]python数据分析\3_附件\chapter3\output.xlsx
D:\[书籍]python数据分析\3_附件\chapter3\pickle.pkl
D:\[书籍]python数据分析\3_附件\chapter3\raw_data
D:\[书籍]python数据分析\3_附件\chapter3\R_data.Rdata
D:\[书籍]python数据分析\3_附件\chapter3\ships.sav
D:\[书籍]python数据分析\3_附件\chapter3\sklearn_pickle.gz
D:\[书籍]python数据分析\3_附件\chapter3\stata.dta
D:\[书籍]python数据分析\3_附件\chapter3\table_data.txt
D:\[书籍]python数据分析\3_附件\chapter3\.ipynb_checkpoints\chapter2_code-checkpoint.ipynb
D:\[书籍]python数据分析\3_附件\chapter3\.ipynb_checkpoints\code-checkpoint.ipynb

### 3.1.6 文件的基本操作

1. 复制文件

In [25]:
# 复制文件（不包含元数据），如果目标文件已存在会被覆盖
shutil.copyfile('demo.xlsx','demo_copy1.xlsx')

'demo_copy1.xlsx'

In [26]:
# 复制文件权限，不复制其他内容
shutil.copymode('demo.xlsx','demo_copy1.xlsx')

In [27]:
# 复制权限、最后访问时间、最后修改时间，不复制其他内容
shutil.copystat('demo.xlsx','demo_copy1.xlsx')

In [28]:
# 复制文件到另一个文件或目录。如果复制到目录，那么会在文件夹中创建或覆盖一个文件，且该文件与源文件名相同。 文件权限会被复制。
# 复制到一个新文件
shutil.copy('demo.xlsx','demo_copy2.xlsx')
# 复制到目录
shutil.copy('demo.xlsx','folder_move')

'folder_move\\demo.xlsx'

In [29]:
# 与 shutil.copy() 类似，另外会同时复制文件的元数据。实际上，该方法是 shutil.copy() 和 shutil.copystat() 组合。
# 复制到一个新文件
shutil.copy2('demo.xlsx','demo_copy3.xlsx')
# 复制到目录
shutil.copy2('demo.xlsx','folder_rename')

'folder_rename\\demo.xlsx'

2. 移动文件

In [30]:
shutil.move('demo_copy3.xlsx','folder_move')

'folder_move\\demo_copy3.xlsx'

3. 删除文件

In [31]:
os.remove('demo_copy2.xlsx')

4. 重命名文件

In [32]:
os.rename('demo_copy1.xlsx','demo_copy1_new.xlsx')

5. 判断是否为文件

In [33]:
os.path.isfile('demo_copy1_new.xlsx')

True

6. 从路径中获取文件扩展名

In [34]:
os.path.splitext('demo_copy1_new.xlsx')

('demo_copy1_new', '.xlsx')

##  3.2 读写数据文件

### 3.2.1 读写普通文件

1. read、readline和readlines方法读取文件

In [35]:
# 定义数据文件
data_file = 'raw_data'

In [36]:
# read方法
with open(data_file) as  f:
    data1 = f.read()
print(data1)

line1: This is line1
line2: This is line2

In [37]:
# readline方法
with open(data_file) as  f:
    data2 = f.readline()
print(data2)

line1: This is line1

In [38]:
# readlines方法
with open(data_file) as  f:
    data3 = f.readlines()
print(data3)

['line1: This is line1\n', 'line2: This is line2']

2. write和writelines方法写入文件

In [39]:
# write方法
with open('raw_data_write','w+') as f:
    f.write(data2)

In [40]:
# writelines方法
with open('raw_data_writelines','w+') as f:
    f.writelines(data3)

### 3.2.2 读写csv、txt、tsv等数据文件

1. 使用Pandas的read_csv、read_table方法读取数据

In [41]:
import pandas as pd

In [42]:
# 使用read_csv读取文件
data = pd.read_csv('data.csv',names='a,b,c,d,e'.split(','))
print(data)

    a   b   c   d   e
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14

In [43]:
# 使用read_table读取文件
table_data = pd.read_table('table_data.txt', sep=';',names='a,b,c,d,e'.split(','))  # 读取csv数据
print(table_data)  # 打印输出数据

    a   b   c   d   e
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14

2. 使用pandas的to_csv保存为数据文件

In [44]:
table_data.to_csv('table_data_output.txt',sep=',',index=False)

### 3.2.3 读写Excel文件

1. 使用pandas的read_excel读取excel文件

In [45]:
import pandas as pd

In [46]:
data_file = 'demo.xlsx'

In [47]:
data_1 = pd.read_excel(data_file,sheet_name = 0)
print(data_1)

            ID_number Status Create_Time Business_City
0  431381198109106573     有效  2019-01-01           深圳市
1  431381198809122734     有效  2019-01-02           深圳市
2  431381197903117478     有效  2019-01-03           深圳市

In [48]:
data_2 = pd.read_excel(data_file,sheet_name = 1)
print(data_2)

   ID_number Status Create_Time Business_City
0      90946     无效  2019-01-10           广州市
1      72418     有效  2019-01-11           广州市
2      99278     无效  2019-01-12           广州市

In [49]:
data_3 = pd.read_excel(data_file,sheet_name=None)
print(data_3)

OrderedDict([('Sheet1',             ID_number Status Create_Time Business_City
0  431381198109106573     有效  2019-01-01           深圳市
1  431381198809122734     有效  2019-01-02           深圳市
2  431381197903117478     有效  2019-01-03           深圳市), ('Sheet2',    ID_number Status Create_Time Business_City
0      90946     无效  2019-01-10           广州市
1      72418     有效  2019-01-11           广州市
2      99278     无效  2019-01-12           广州市)])

2. 使用pandas的to_excel写入excel文件

In [50]:
# 写入单个sheet到Excel
data_2.to_excel('demo_write_1.xlsx')

In [51]:
# 写入多个sheet到同一个Excel
with pd.ExcelWriter('demo_write_2.xlsx') as writer:
    for name,data in data_3.items():
        data.to_excel(writer,sheet_name=name)
writer.save()

> 注意：如果没有pd.ExcelWrite方法，普通调用的to_excel方法只能写入单个sheet

### 3.2.4 读写XML文件

1. 读取XML数据

In [52]:
import xml.etree.ElementTree as ET

In [53]:
tree = ET.parse('geo.xml')
root = tree.getroot()
lng = root[1][0][0].text  # 获得lng数据
lat = root[1][0][1].text  # 获得lat数据
print('lng: %s' % lng)  # 格式化打印输出
print('lat: %s' % lat)  # 格式化打印输出

lng: 116.293815325
lat: 40.0529911395

2. 写入XML数据

In [54]:
tree.write('geo_output.xml')

### 3.2.5 读写JSON文件

In [55]:
import json  # 导入库

1. 使用json.load读取json文件

In [56]:
with open('geo.json') as f:
    json_data = json.load(f)  # 加载Json字符串对象

In [57]:
lat_lng = json_data['result']['location']  # 获得经纬度信息
print(lat_lng)  # 打印输出

{'lng': 116.29381532521775, 'lat': 40.05299113952319}

2. 使用json.dump写入json文件

In [58]:
with open('geo2.json','w+') as f:
    json.dump(json_data,f)

### 3.2.6 读获SPSS Statics文件

1. 使用pyreadstat.read_sav读取sav数据文件

In [59]:
import pyreadstat

In [60]:
data, meta = pyreadstat.read_sav('ships.sav')

In [61]:
data.head()

,type,construction,operation,months_service,log_months_service,damage_incidents
0,1.0,60.0,60.0,127.0,4.844187,0.0
1,1.0,60.0,75.0,63.0,4.143135,0.0
2,1.0,65.0,60.0,1095.0,6.998510,3.0
3,1.0,65.0,75.0,1095.0,6.998510,4.0
4,1.0,70.0,60.0,1512.0,7.321189,6.0

In [62]:
vars(meta).keys()

dict_keys(['column_names', 'column_labels', 'file_encoding', 'number_columns', 'number_rows', 'variable_value_labels', 'value_labels', 'variable_to_label', 'notes', 'original_variable_types', 'table_name', 'missing_ranges', 'missing_user_values', 'variable_storage_width', 'variable_display_width', 'variable_alignment', 'variable_measure', 'file_label', 'file_format'])

In [63]:
meta.column_names

['type',
 'construction',
 'operation',
 'months_service',
 'log_months_service',
 'damage_incidents']

2. 使用pyreadstat.read_sas7bdat读取SAS数据文件

In [64]:
import pyreadstat

In [65]:
data,meta = pyreadstat.read_sas7bdat('omov.sas7bdat')

In [66]:
data.head()

,DBOUTREAS,DBOUTLEN,DBOUTVOL,DBOUTWHER,DBOUTWHY,DBUGROUP,DBGRPCNT,CONTROL
0,7.0,4,1,1,1,1.0,1.0,599754960148
1,8.0,4,1,2,2,1.0,1.0,999900019097
2,3.0,6,2,1,1,1.0,1.0,399557958186
3,3.0,6,3,1,2,1.0,1.0,999900019099
4,7.0,5,2,1,1,1.0,3.0,199409708983

3. 使用pyreadstat.read_dta读取STATA数据文件

In [67]:
import pyreadstat

In [68]:
data,meta = pyreadstat.read_dta('stata.dta')

In [69]:
data.head()

,date_tc,date_td,date_tw,date_tm,date_tq,date_th,date_ty
0,1960-01-01 00:00:00,1960-01-01,0.0,0.0,0.0,0.0,1960.0
1,2000-01-01 00:00:00,2000-01-01,2080.0,480.0,160.0,80.0,2000.0
2,9999-12-31 23:59:59,9999-12-31,418079.0,96479.0,32159.0,16079.0,9999.0
3,0100-01-01 00:00:00,0100-01-01,-96720.0,-22320.0,-7440.0,-3720.0,100.0
4,2262-04-22 00:00:00,2262-04-22,15719.0,3627.0,1209.0,604.0,2262.0

### 3.2.7 读写R数据文件

1. 使用pyreadr.read_r读取R语言数据文件

In [70]:
import pyreadr
data = pyreadr.read_r('R_data.Rdata')
print(data.keys())
data['raw_data'].head()

odict_keys(['raw_data'])

       Date  Orders
0  2018/1/1     281
1  2018/1/2     304
2  2018/1/3     292
3  2018/1/4     360
4  2018/1/5     320

2. 使用pyreadr.write_rdata保存为R数据文件

In [71]:
pyreadr.write_rdata("R_data_output.RData", data['raw_data'], df_name="data")

## 3.3 读写数据库

1. 读写结构化数据库MySQL

In [72]:
# 导入库
import pymysql  
import numpy as np
import pandas as pd

In [73]:
# 定义数据库连接信息
config = {'host': '127.0.0.1',  # 默认127.0.0.1
          'user': 'root',  # 用户名
          'password': '123456',  # 密码
          'port': 3306,  # 端口，默认为3306
          'database': 'python_data',  # 数据库名称
          'charset': 'utf8'  # 字符编码
          }

In [74]:
# 连接数据库
cnn = pymysql.connect(**config)  # 建立mysql连接
cursor = cnn.cursor()  # 获得游标

In [75]:
# 读取数据
sql = "SELECT * FROM `order`"  # SQL语句
cursor.execute(sql)  # 执行sql语句
data = cursor.fetchall()  # 通过fetchall方法获得数据
for i in data[:2]:  # 打印输出前2条数据
    print(i)

('3897894579', '0000-00-00', datetime.timedelta(0), 'PENDING_ORDER_CONFIRM', '1038166', 59.0)
('3897983041', '0000-00-00', datetime.timedelta(0), 'REMOVED', '1041656', 19.9)

In [76]:
# 写入数据
# 创建新表
# 查找数据库是否存在目标表，如果没有则新建
cursor.execute("show tables")  #
table_object = cursor.fetchall()  # 通过fetchall方法获得所有数据
table_list = [t[0] for t in table_object]  # 创建库列表
if not 'python_table' in table_list:  # 如果目标表没有创建
    cursor.execute('''
    CREATE TABLE python_table (
    id               int(2),
    col1               int(2),
    col2              int(2),
    col3              int(2)
    )
    ''')
# 创建模拟数据
data = pd.DataFrame(np.arange(12).reshape(4,3))
print(data)

# 写入数据
for ind,value in enumerate(data.values): 
    insert_sql = "INSERT INTO `python_table` VALUES ('%s',%s,%s,%s)" % \
                 (ind, value[0], value[1], value[2])  # 写库SQL依据
    cursor.execute(insert_sql)  # 执行SQL语句，execute函数里面要用双引号
    cnn.commit()  # 提交命令

   0   1   2
0  0   1   2
1  3   4   5
2  6   7   8
3  9  10  11

In [77]:
# 关闭连接
cursor.close()  # 关闭游标
cnn.close()  # 关闭连接

2. 读写非结构化数据库MongoDB

In [78]:
from pymongo import MongoClient  # 导入库

In [79]:
# 连接数据库
client = MongoClient('10.0.0.54', 27017)  #  输出实际的服务器IP地址以及端口，建立连接，并初始化环境变量

In [80]:
# 写入数据库
db = client.python_data  # 选择test_py库
orders = db.test_python  # 选择test集合
terms = [{"user": "tony", "id": "31020", "age": "30", "products": ["215120", "245101", "128410"],
          "date": "2019-01-06"},
         {"user": "lucy", "id": "32210", "age": "29", "products": ["541001", "340740", "450111"],
          "date": "2019-01-06"}]  # 定义一条数据集合用于插入
orders.insert_many(terms)  # 插入数据

In [81]:
# 读取数据库
print(orders.find_one())  # 获取一文档数据
for i in orders.find():  # 获取所有文档数据并展示
    print(i)

{'_id': ObjectId('5c6a85da8b0b3f36e8d40756'), 'user': 'tony', 'id': '31020', 'age': '30', 'products': ['215120', '245101', '128410'], 'date': '2019-01-06'}
{'_id': ObjectId('5c6a85da8b0b3f36e8d40756'), 'user': 'tony', 'id': '31020', 'age': '30', 'products': ['215120', '245101', '128410'], 'date': '2019-01-06'}
{'_id': ObjectId('5c6a85da8b0b3f36e8d40757'), 'user': 'lucy', 'id': '32210', 'age': '29', 'products': ['541001', '340740', '450111'], 'date': '2019-01-06'}

In [82]:
# 关闭数据库连接
client.close()

## 3.4 数据对象持久化

1. 使用pickle读写持久化对象

In [83]:
import pickle

In [84]:
# 读取持久化对象
data = pickle.load(open('pickle.pkl','rb'))
print(data)

  col1  col2  col3  col4
0    a     1    33     5
1    b     2    67     9

In [85]:
# 对象持久化
pickle.dump(data,open('pickle_output.pkl','wb'))

2. 使用sklearn读写持久化对象

In [86]:
from sklearn.externals import joblib

In [87]:
# 读取数据对象
sklearn_data = joblib.load('sklearn_pickle.gz')
print(sklearn_data)

   ID_number Status Create_Time Business_City
0      90946     无效  2019-01-10           广州市
1      72418     有效  2019-01-11           广州市
2      99278     无效  2019-01-12           广州市

In [88]:
# 数据对象持久化
joblib.dump(sklearn_data, 'sklearn_pickle_output.gz', compress=3, protocol=4)

['sklearn_pickle_output.gz']