1.科学计算基础库NumPy基本使用
（1）分别使用list和arange函数创建一维数组

（2）创建一个长度为13的一维数组，完成如下操作：
     1）获取第6个元素
     2）使用数组切片获取第3到第6个元素
     3）使用数组切片获取前5个元素
     4）使用数组切片实现数组倒序打印
     5）使用数组切片修改第10到第13个元素的值
     6）使用数组切片分别将数组中奇数位和偶数位的元素取出

（3）创建2个长度相同的一维数组，分别实现两个数组的加、减、乘、除操作

（4）创建长度为25的一维数组（元素均为数字型），使用reshape函数将该数组格式转为5行5列的二维数组，求此二维数组全部元素和、最大值、最小值、每行元素最大值、每行元素最小值、每行元素和、每列元素和、每行元素均值、每列元素均值、每行元素标准差、每列元素标准差

2.数据处理分析工具Pandas的使用
（1）使用默认索引创建一个序列
   1）修改序列索引为自定义索引
   2）获取索引中全部的值
   3）创建一个新的序列，并同时使用定义索引
   4）读取任一个值，并修改其值

In [ ]:
# (1)使用默认索引创建一个序列
import pandas as pd
import numpy as np
s = pd.Series(np.random.randn(5))
# 1）修改序列索引为自定义索引
s.index = ['a', 'b', 'c', 'd', 'e']

In [36]:
# 2）获取索引中全部的值
print(s.index)
print(s)

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')
a   -0.012380
b    0.168640
c    1.340711
d   -0.214500
e    1.843992
dtype: float64

In [30]:
#3）创建一个新的序列，并同时使用定义索引
s2 = pd.Series(np.random.randn(4), index=['a', 'b', 'c', 'd'])
print(s2)

a   -0.845825
b    0.818769
c   -0.823270
d    1.221869
dtype: float64

In [34]:
# 4）读取任一个值，并修改其值
s2['a'] = 100
print(s2)

a    100.000000
b      0.103865
c     -0.555384
d     -1.258830
dtype: float64

（2）分别使用二维数组、字典和文件读取方式创建DataFrame
    1）DataFrame至少10行，至少3列
    2）分别查看DataFrame的索引、列名和值
    3）查看DataFrame的描述性统计结果
    4）按照索引排序（升序和降序）
    5）按照某一列进行排序（升序和降序）
    6）使用列名查看某列的值
    7）使用列名同时查看1列以上的值
    8）使用loc查看某个值
    9）使用loc查看某行和某列的值
    10）使用loc查看多行多列的值，如查看3行2列的值
    11）使用iloc查看某个值
    12）使用iloc查看某行和某列的值
    13）使用iloc查看多行多列的值，如查看3行2列的值
    14）为该DataFrame增加一个新列，且列值中存在小于0的数
    15）获取新列中所有大于0的数
    16）计算新列的和
    17）计算新列的平均值

In [1]:
# 1）DataFrame至少10行，至少3列
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randn(10,3),index=list(range(0,10)),columns=list('ABC'))
print(df)

          A         B         C
0 -0.962148 -0.369823  1.940239
1 -0.517202 -1.482709  0.621732
2 -0.691356 -0.173881 -0.247408
3  0.930669 -0.426987  0.854816
4 -1.346236 -0.162574 -0.489376
5  0.779465  0.977747  0.877216
6  1.491483 -0.166809  0.302721
7  0.629073 -0.668528  1.301942
8  0.461746  1.367629  0.776181
9  1.282615  0.173763 -1.492417

In [2]:
# 2)DataFrame至少10行，至少3列
print(df.index)
print(df.columns)

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9], dtype='int64')
Index(['A', 'B', 'C'], dtype='object')

In [3]:
# 3）查看DataFrame的描述性统计结果
print(df.describe())

               A          B          C
count  10.000000  10.000000  10.000000
mean    0.205811  -0.093217   0.444565
std     1.000680   0.804061   0.977075
min    -1.346236  -1.482709  -1.492417
25%    -0.647817  -0.412696  -0.109876
50%     0.545410  -0.170345   0.698957
75%     0.892868   0.089679   0.871616
max     1.491483   1.367629   1.940239

In [4]:
# 4）按照索引排序（升序和降序）
#按照索引排序（升序）
print(df.sort_index())
#按照索引排序（降序）
print(df.sort_index(ascending=False))

          A         B         C
0 -0.962148 -0.369823  1.940239
1 -0.517202 -1.482709  0.621732
2 -0.691356 -0.173881 -0.247408
3  0.930669 -0.426987  0.854816
4 -1.346236 -0.162574 -0.489376
5  0.779465  0.977747  0.877216
6  1.491483 -0.166809  0.302721
7  0.629073 -0.668528  1.301942
8  0.461746  1.367629  0.776181
9  1.282615  0.173763 -1.492417
          C         B         A
0  1.940239 -0.369823 -0.962148
1  0.621732 -1.482709 -0.517202
2 -0.247408 -0.173881 -0.691356
3  0.854816 -0.426987  0.930669
4 -0.489376 -0.162574 -1.346236
5  0.877216  0.977747  0.779465
6  0.302721 -0.166809  1.491483
7  1.301942 -0.668528  0.629073
8  0.776181  1.367629  0.461746
9 -1.492417  0.173763  1.282615

In [5]:
#5 )按照某一列进行排序（升序和降序）
#按照A列排序（升序）
print(df.sort_values(by='A'))
#按照A列排序（降序）
print(df.sort_values(by='A',ascending=False))

          A         B         C
4 -1.346236 -0.162574 -0.489376
0 -0.962148 -0.369823  1.940239
2 -0.691356 -0.173881 -0.247408
1 -0.517202 -1.482709  0.621732
8  0.461746  1.367629  0.776181
7  0.629073 -0.668528  1.301942
5  0.779465  0.977747  0.877216
3  0.930669 -0.426987  0.854816
9  1.282615  0.173763 -1.492417
6  1.491483 -0.166809  0.302721
          A         B         C
6  1.491483 -0.166809  0.302721
9  1.282615  0.173763 -1.492417
3  0.930669 -0.426987  0.854816
5  0.779465  0.977747  0.877216
7  0.629073 -0.668528  1.301942
8  0.461746  1.367629  0.776181
1 -0.517202 -1.482709  0.621732
2 -0.691356 -0.173881 -0.247408
0 -0.962148 -0.369823  1.940239
4 -1.346236 -0.162574 -0.489376

In [6]:
#6) 使用列名查看A列的值
print(df.A)

0   -0.962148
1   -0.517202
2   -0.691356
3    0.930669
4   -1.346236
5    0.779465
6    1.491483
7    0.629073
8    0.461746
9    1.282615
Name: A, dtype: float64

In [8]:
# 7）使用列名查看A列和B列的值
print(df.A,df.B)

0   -0.962148
1   -0.517202
2   -0.691356
3    0.930669
4   -1.346236
5    0.779465
6    1.491483
7    0.629073
8    0.461746
9    1.282615
Name: A, dtype: float64 0   -0.369823
1   -1.482709
2   -0.173881
3   -0.426987
4   -0.162574
5    0.977747
6   -0.166809
7   -0.668528
8    1.367629
9    0.173763
Name: B, dtype: float64

In [15]:
# 8）使用loc查看某个值
print(df.loc[0,'A'])

-0.9621478173492252

In [16]:
# 9）使用loc查看2行和3列的值
#使用loc查看第2行的值
print(df.loc[1])
#使用loc查看第三列的值
print(df.loc[:,'C'])

A   -0.517202
B   -1.482709
C    0.621732
Name: 1, dtype: float64
0    1.940239
1    0.621732
2   -0.247408
3    0.854816
4   -0.489376
5    0.877216
6    0.302721
7    1.301942
8    0.776181
9   -1.492417
Name: C, dtype: float64

In [17]:
# 10）使用loc查看多行多列的值，如查看3行2列的值
print(df.loc[1,'C'])

0.6217318755230786

In [18]:
# 11）使用iloc查看某个值
print(df.iloc[0,0])

-0.9621478173492252

In [19]:
# 12）使用iloc查看第三行的值和第二列的值
print(df.iloc[2])
print(df.iloc[:,1])

A   -0.691356
B   -0.173881
C   -0.247408
Name: 2, dtype: float64
0   -0.369823
1   -1.482709
2   -0.173881
3   -0.426987
4   -0.162574
5    0.977747
6   -0.166809
7   -0.668528
8    1.367629
9    0.173763
Name: B, dtype: float64

In [20]:
# 13）使用iloc查看第3行第2列的值
print(df.iloc[2,1])

-0.17388065195655997

In [22]:
# 14）为该DataFrame增加一个新列，且列值中存在小于0的数
df['D'] = df['A']*df['B']
print(df)

          A         B         C         D
0 -0.962148 -0.369823  1.940239  0.355824
1 -0.517202 -1.482709  0.621732  0.766860
2 -0.691356 -0.173881 -0.247408  0.120213
3  0.930669 -0.426987  0.854816 -0.397383
4 -1.346236 -0.162574 -0.489376  0.218864
5  0.779465  0.977747  0.877216  0.762120
6  1.491483 -0.166809  0.302721 -0.248793
7  0.629073 -0.668528  1.301942 -0.420553
8  0.461746  1.367629  0.776181  0.631498
9  1.282615  0.173763 -1.492417  0.222871

In [23]:
# 15）获取新列中所有大于0的数
print(df[df['D']>0])

          A         B         C         D
0 -0.962148 -0.369823  1.940239  0.355824
1 -0.517202 -1.482709  0.621732  0.766860
2 -0.691356 -0.173881 -0.247408  0.120213
4 -1.346236 -0.162574 -0.489376  0.218864
5  0.779465  0.977747  0.877216  0.762120
8  0.461746  1.367629  0.776181  0.631498
9  1.282615  0.173763 -1.492417  0.222871

In [24]:
# 16）计算新列的和
print(df['D'].sum())

2.0115206711252984

In [25]:
#16）计算新列的平均值
print(df['D'].mean())

0.20115206711252984

（3）从“exp2_1.csv”读取数据并存入DataFrame df中
   1）使用isnull函数查看是否有缺失值
   2）将df值存入新的DataFrame df1中，分别使用固定值和列均值填充df1中的缺失值
   3）删除df中的缺失值：行都为空时删除；行中只要有空值就删除该行
   4）将df和df1使用concat方法拼接
   5）使用merge函数分别将df和df1左合并、右合并、内关联、外关联

In [6]:
# (3)从“exp2_1.csv”读取数据并存入DataFrame df中
import pandas as pd
import numpy as np
df=pd.read_csv('exp2_1.csv')

In [9]:
# 1）使用isnull函数查看是否有缺失值
print(df.isnull())
print(df.isnull().sum())

   Unnamed: 0      A      B      C      D      F      E
0       False  False  False  False  False   True  False
1       False  False  False  False  False  False  False
2       False  False  False  False  False  False   True
3       False  False  False  False  False  False   True
Unnamed: 0    0
A             0
B             0
C             0
D             0
F             1
E             2
dtype: int64

In [17]:
# 2）将df值存入新的DataFrame df1中，分别使用固定值和列均值填充df1中的缺失值
df1=df.fillna(df.mean())
print(df)
print(df1)

   Unnamed: 0         A         B         C         D    F    E
0  2013-01-01 -0.272512 -0.209595 -1.124105 -1.165750  NaN  1.0
1  2013-01-02 -0.038412 -0.251537 -1.375393  0.400489  1.0  1.0
2  2013-01-03  0.047367 -0.550628  1.044791  0.283603  2.0  NaN
3  2013-01-04  0.468298 -1.900149  1.807120  0.952626  3.0  NaN
   Unnamed: 0         A         B         C         D    F    E
0  2013-01-01 -0.272512 -0.209595 -1.124105 -1.165750  2.0  1.0
1  2013-01-02 -0.038412 -0.251537 -1.375393  0.400489  1.0  1.0
2  2013-01-03  0.047367 -0.550628  1.044791  0.283603  2.0  1.0
3  2013-01-04  0.468298 -1.900149  1.807120  0.952626  3.0  1.0

C:\Users\FangWei\AppData\Local\Temp\ipykernel_17076\1242056659.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df1=df.fillna(df.mean())

In [19]:
# 3）删除df中的缺失值：行都为空时删除；行中只要有空值就删除该行
df=df.dropna()
print(df)

   Unnamed: 0         A         B         C         D    F    E
1  2013-01-02 -0.038412 -0.251537 -1.375393  0.400489  1.0  1.0

3.可视化分析工具Matplotlib的使用
  1）从“exp2_2.csv”读取数据并存入DataFrame data中
  2）查看是否有缺失值
  3）缺失值填充（任一方法均可）
  4）检查并删除重复行
  5）使用cut函数将平均得分（vote-average）进行分段，分成0-2、2-4、4-6、6-8、8-10等5段，并将分段后结果存入新列vote_ave_cut
  6）按照每个电影平均分vote-average，绘制直方图，表示每个分数出现次数，即每个分数的电影部数
  7）按照每个电影平均分vote_ave_cut，绘制直方图，表示每个分数段出现次数，即每个分数段的电影部数
  8）找出投票次数（vote_count）排名前8的电影，以该8部电影的vote_cut为X轴，收益（revenue）为Y轴，分别绘制柱状图和线性图
  9）绘制收益revenue和预算budget的散点图
  10）分别绘制收益revenue和预算budget的箱线图
  11）绘制评分（vote_average）和收益（revenue）的散点图
  12）教材P120实训：综合性数据可视化